<h1 class="title">Login</h1>
<div class="form-container">
    <form novalidate #loginForm="ngForm" (ngSubmit)="login(loginForm)" autocomplete="off">
      <div class="form-group">
        <label>USERNAME</label>
        <input
          class="form-control"
          placeholder="Username"
          name="username"
          #username="ngModel"
          [(ngModel)]="service.loginData.username"
          required
          [class.invalid]="username.invalid && username.touched"
        />
        <div *ngIf="username.touched">
          <p *ngIf="username.errors?.required">Username is required!</p>
        </div>
      </div>
      <div class="form-group">
        <label>PASSWORD</label>
        <input
          type="password"
          class="form-control"
          placeholder="Password"
          name="password"
          #password="ngModel"
          [(ngModel)]="service.loginData.password"
          required
          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
          [class.invalid]="password.invalid && password.touched"
        />
        <div *ngIf="password.touched">
          <p *ngIf="password.errors?.required">Password is required!</p>
          <p *ngIf="password.errors?.pattern">
            Minimum eight characters, at least one uppercase letter, one lowercase
            letter, one number and one special character
          </p>
        </div>
      </div>
      <div class="button-group">
        <button class="btn btn-info" type="submit" [disabled]="loginForm.invalid">SUBMIT</button>
        <a [routerLink]="['/register']" routerLinkActive="active" class="btn btn-secondary">Register</a>
        <a [routerLink]="['']" routerLinkActive="active" class="btn btn-secondary">Home</a>
      </div>
    </form>
  </div>