<h1 class="title">My To-Do List App</h1>

<div *ngIf="isUserAuthenticated()" class="todo-items">
  <app-todo-items></app-todo-items>
</div>

<div class="menu-container">
  <ul class="menu-list">
    <li *ngIf="!isUserAuthenticated()" class="menu-item">
      <div class="form-group">
        <a [routerLink]="['/login']" routerLinkActive="active">
          <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
        </a>
      </div>
    </li>
    <li *ngIf="!isUserAuthenticated()" class="menu-item">
      <div class="form-group">
        <a [routerLink]="['/register']" routerLinkActive="active">
          <button class="btn btn-primary btn-lg btn-block" type="submit">Register</button>
        </a>
      </div>
    </li>
    <li *ngIf="isUserAuthenticated()" class="menu-item">
      <div class="form-group">
        <button class="btn btn-primary btn-lg btn-block" type="submit">
          <a class="logout" (click)="logOut()">Logout</a>
        </button>
      </div>
    </li>
  </ul>
</div>